@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.header {
  @include flex-align(space-around, center, row);
  padding: 36px 90px;

  @include mobile {
    padding: 32px 60px
  }
  
  .left {
    @include flex-align(flex-start, center, row);
    gap: 30px;

    .logo {
      width: 50px;
    }
  }

  .right {
    @include flex-align(flex-end, center, row);
    gap: 30px;

    @include mobile {
      display: none;
    }
  }
}
